#canvas{
	position: fixed;
	top: 0px;
}

.imgbtn{
	position: fixed;
	top: 0px;
	z-index: 3;
}

#formwindow{
	min-height: 100px;
 	z-index: 2;
 	border: 10px solid saddlebrown;
	max-height: 50%;
	max-width: 75%; 
    background-color: burlywood;
    display: none;
	border-radius: 25px;
	align-items: stretch;
	min-width: -webkit-min-content;
	overflow:hidden;
}

.formpart{
	min-height: 100%;
	width: 300px;
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

#formlist tr:not(:first-child):hover{
	background-color: rgb(180, 126, 77);
}

tr:first-child {
	border-bottom: 5px solid saddlebrown;
}

td:nth-child(2),th:nth-child(2){
	text-align: right;
}

.numberCell {
	text-align: right;
}

#formdetail{
	border-left: 5px solid saddlebrown;
}

.title{
	font-weight: bold;
	font-size: 2em;
}

td{
	min-width: 80px;
}

td, th{
	padding-left: 10px;
	padding-right: 10px;
}

.emphasizetext{
	color: #1E8449;
}

.ignoretext{
	color: #CCCCCC;
}

.window{
	display: flex;
	justify-content: center;
	z-index: 2;
	height: 100vh;
	width: 100%;
	align-items: center;
}

body {
	margin: 0;
	overflow: hidden;
	display: block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Formatting for chat window */
#chatWindow {
  box-sizing:border-box;
  /* start hidden and set size in javascript code */
  height: 1px;
  width: 1px;
  left: 0px;
  bottom: 0px;
  background-color: burlywood;
  border-color: saddlebrown;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
}
#chatView {
box-sizing:border-box;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
/* input box for chat window */
#chatInput {
  height: 10%;
  width: 98%;
  padding: 0px;
  background-color: burlywood;
  border-color: saddlebrown;
  font-family: serif;
}
#chatWindow p {
  padding: 0;
  margin: 0;
}

/* colour messages by the user blue */
.chatMessageUser {
  color: blue;
}

/* formatting scroll bar for chat window */
#chatWindow ::-webkit-scrollbar {
  width: 10px;
}

#chatWindow ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* set colour of scroll bar */
#chatWindow ::-webkit-scrollbar-thumb {
  background: sienna; 
  border-radius: 10px;
}

/* set lighter colour of scroll bar on hover */
#chatWindow ::-webkit-scrollbar-thumb:hover {
  background: peru; 
}